<h2 class="resource_title title_bar">{{ form.title }}</h2>
 
{% if form.sent %}
  <div class="bootic_sent_contact_message">
   {{ 'forms.messages.sent' | t }}
  </div>
{% endif %}

<div class="resource_body">
  {{ form.body }}
</div>

{% contact_form_fields %}
